body{
background-color:green;
color:white;
}
.new:hover{
		color:green;
		text-shadow:aqua 1mm 1mm 1mm;
		font-family:fantasy;
		font-size:200%;
		padding-right:50px;
		transition:0.8s;
                
		
		}

			
}


#new:hover{
		color:red;
		text-shadow:aqua 1mm 1mm 1mm;
		font-family:fantasy;
		font-size:200%;
		padding-top:50px;
		transition:0.8s;



